<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="card">
          <% if @raffle.images.attached? %>
            <%= render UI::ImageGallery.new(images: @raffle.images, alt_prefix: @raffle.name) %>
          <% else %>
            <div class="raffle-gallery">
              <div class="gallery-main">
                <div class="main-image-container">
                  <%= image_tag "https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg", alt: @raffle.name, class: "main-raffle-image" %>
                </div>
              </div>
            </div>
          <% end %>
            <div class="card-content">
              <h1 class="title is-2"><%= @raffle.name %></h1>

              <div class="content">
                <% if @raffle.general_description.present? %>
                  <div class="mb-5">
                    <h3 class="title is-4">Description</h3>
                    <%= @raffle.general_description %>
                  </div>
                <% end %>

                <% if @raffle.condition_description.present? %>
                  <div class="mb-5">
                    <h3 class="title is-4">Condition</h3>
                    <%= @raffle.condition_description %>
                  </div>
                <% end %>

                <% if @raffle.whats_included_description.present? %>
                  <div class="mb-5">
                    <h3 class="title is-4">What's Included</h3>
                    <%= @raffle.whats_included_description %>
                  </div>
                <% end %>

                <% if @raffle.extra_description.present? %>
                  <div class="mb-5">
                    <h3 class="title is-4">Extra Information</h3>
                    <%= @raffle.extra_description %>
                  </div>
                <% end %>
              </div>

            <div class="columns">
              <div class="column">
                <div class="box has-background-light">
                  <p class="heading">Price Target</p>
                  <p class="title is-4">$<%= number_with_precision(@raffle.price, precision: 2) %></p>
                </div>
              </div>
              <div class="column">
                <div class="box has-background-light">
                  <p class="heading">Ticket Price</p>
                  <p class="title is-4">$<%= number_with_precision(@raffle.ticket_price, precision: 2) %></p>
                </div>
              </div>
            </div>

            <div class="field is-grouped">
              <%= link_to "Back to Raffles", raffles_path, class: "button is-light" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
