<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <% if @raffle.image.attached? %>
                <%= image_tag @raffle.image, alt: @raffle.name %>
              <% else %>
                <%= image_tag "https://via.placeholder.com/800x600?text=No+Image", alt: @raffle.name %>
              <% end %>
            </figure>
          </div>
          <div class="card-content">
            <h1 class="title is-2"><%= @raffle.name %></h1>

            <div class="content">
              <p><%= @raffle.description %></p>
            </div>

            <div class="columns">
              <div class="column">
                <div class="box has-background-light">
                  <p class="heading">Price per Ticket</p>
                  <p class="title is-4">$<%= number_with_precision(@raffle.price, precision: 2) %></p>
                </div>
              </div>
            </div>

            <div class="field is-grouped">
              <%= link_to "Back to Raffles", raffles_path, class: "button is-light" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
