<nav class="navbar is-white has-shadow"
     role="navigation"
     aria-label="main navigation"
     data-controller="bulma"
     style="border-bottom: 1px solid #f1f5f9;">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <span class="has-text-weight-bold" style="color: #4f46e5;">🎟️ Raffle Shop</span>
    <% end %>

    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       aria-expanded="false"
       data-bulma-target="burger"
       data-action="click->bulma#toggleHamburger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" data-bulma-target="menu">
    
    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to "My Raffles", raffles_path, class: "navbar-item" %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar-item" %>
        <%= button_to "Sign Out",
                      destroy_user_session_path,
                      method: :delete,
                      class: "button is-light is-small ml-3 mr-4",
                      form_class: "navbar-item" %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item has-text-weight-semibold" %>
        <%= link_to "Sign In", new_user_session_path, class: "navbar-item has-text-grey" %>
      <% end %>
    </div>
  </div>
</nav>
