<div class="box">
  <h3 class="title is-6 mb-4">👥 Who to Follow</h3>
  <% if user_signed_in? %>
    <%
      already_following_ids = current_user.following.pluck(:id)
      two_hop_user_ids = Follow
        .where(follower_id: already_following_ids)
        .where.not(followed_id: [current_user.id] + already_following_ids)
        .group(:followed_id)
        .order(Arel.sql('COUNT(*) DESC'))
        .limit(5)
        .pluck(:followed_id)
      suggestions = User.where(id: two_hop_user_ids)
    %>
    <% if suggestions.present? %>
      <% suggestions.each do |suggested_user| %>
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-4">
          <%= link_to user_path(suggested_user), class: "is-flex is-align-items-center", style: "gap: 0.75rem; flex: 1;" do %>
            <%= image_tag user_avatar_url(suggested_user), alt: suggested_user.email, class: "is-rounded", style: "width: 40px; height: 40px;" %>
            <div>
              <p class="has-text-weight-semibold is-size-7"><%= suggested_user.email %></p>
              <p class="is-size-7 has-text-grey"><%= suggested_user.followers_count %> followers</p>
            </div>
          <% end %>
          <%= follow_button_for(suggested_user) %>
        </div>
      <% end %>
    <% else %>
      <%= render UI::EmptyState.new(
        title: 'Follow more users to get suggestions'
      ) %>
    <% end %>
  <% else %>
    <%= render UI::EmptyState.new(
      title: 'Sign in to see suggestions'
    ) %>
  <% end %>
</div>

