<div class="<%= notification_classes %>" data-controller="<%= 'bulma' if dismissible %>">
  <% if dismissible %>
    <button class="delete" data-bulma-target="alertCloseButton" data-action="click->bulma#closeAlert"></button>
  <% end %>
  <% if has_content? %>
    <%= content %>
  <% else %>
    <% if has_icon? %>
      <%= icon %>
    <% end %>
    <% if has_title? %>
      <strong><%= title %></strong>
    <% end %>
    <% if has_message? %>
      <%= message %>
    <% end %>
  <% end %>
</div>

